* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half{
    width: 50%;
}

/* common */ 

.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col-half {
    width: 50%;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

/* main */

#main{

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li {
   line-height: 46.5px;
   position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    

}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0px 16px;
    line-height: 38px;
}
#nav-arrow-down {
    font-size: 14px;
}
#header .search-button {
    float: right;
    padding: 0px 21px;
}

#header .search-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46.5px;
}

#header .search-button:hover {
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}


#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/w3_band/assets/img/ngot.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

#content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding-top: 47px;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    margin-top: 15px;
    width: 60%;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ticket{
    background-color: #fff;
    list-style: none;
    margin-top: 30px;
}

.ticket li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin: 16px;
}

.ticket .quality {
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Place */
.place-list{
    margin: 32px -8px 0;
    padding-bottom: 73px;
}

.place-item{
    float: left;
    width: calc(100%/3);
    padding: 0px 8px;

}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}
.place-body{
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}
.place-head{
    font-weight: 500;
}
.place-time{
    color: #757575;
    margin-top: 15px;
}
.place-desc{
    line-height: 1.4;
    margin-top: 15px ;
}
.place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block   ;
    margin-top: 15px;
    border: none;
}

.place-buy-button:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    color: #fff;
    background-color: #009688;
    height: 130px;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-heading-close {
    position: absolute;
    color: #fff;
    right: 0;
    padding: 17px 16px;
    font-size: 18px;
}  
.modal-heading-close:hover {
    color:#000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-heading-bag {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
}

.modal-input {
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button#buy-ticket {
    width: 100%;
    background-color: #009688;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 16px;
}

button#buy-ticket:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer {
    float: right;
    padding: 16px;
    margin-bottom: 15px;
}

.color-help {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
        
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact */

.contact-content {
    margin-top: 47px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;

}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit {
    float: right;
    font-size: 15px;
    padding: 11px 15px;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact-form .form-submit:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 18px;
    text-align: center; 
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.5);
}